@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


*
{
    font-family: 'Roboto', sans-serif;
    font-size:medium;
}

.pageHeader
{
    display: inline-block;
    min-width: 300px;
    width: 500px;
    padding:20px;
    background-color: #8e8074;
    border-radius: 6px;
    color:white;
}

h1, h2, h3 {
  font-weight: 700; 
  font-size: x-large;
}

a
{
    color:black;
    text-decoration: none;
}
body 
{
    font-family: 'Roboto', sans-serif;
    background-color: #d9e2e6;
    text-align:center;
}
  
.btn 
{
    font-family: 'Roboto', sans-serif;
    transition-duration: 0.4s;
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
    padding: 10px;
    margin:20px;
    border-radius: 8px;
    font-size: large;
}
  
.btn:hover 
{
    background-color: #04AA6D; 
    color: white;
}

.form{
    display:inline-block;
    display:flex;
    flex-direction: column;
    width: 400px;
}
  
label 
{
    margin:5px auto;
    display:inline-block;
    width:100px
}
  
input,select 
{
    display: inline-block;
    margin:5px auto;
    padding: 8px; 
    box-sizing: border-box;
    width:200px;
}
  

#showChartBtn,#goBackBtn
{
    font-family: 'Roboto', sans-serif;
    transition-duration: 0.4s;
    background-color: white; 
    color: black; 
    border: 2px solid #8e8074;
    padding: 10px;
    margin:20px 30px;
    border-radius: 4px;
    font-size: medium;
}
  
#showChartBtn:hover 
{
    background-color: #8e8074; 
    color: white;
}
#goBackBtn:hover 
{
    background-color: #8e8074; 
    color: white;
}
/* Modal styles */
.modal {
    display: none; /* Hide the modal by default */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}